$first-breakpoint-width: 1100px;
$second-breakpoint-width: 780px;
$third-breakpoint-width: 615px;
$fourth-breakpoint-width: 430px;

$first-breakpoint-height: 560px;
$second-breakpoint-height: 470px;
$third-breakpoint-height: 415px;

@media (max-width: $first-breakpoint-width) {
  body {
    .app {
      .form {
        .inputElement {
          width: 40vw;
        }
        .coded {
          .codedMessage {
            @include Messages(35vw, 36px);
          }
        }
      }
    }
  }
}

@media (max-width: $second-breakpoint-width) {
  body {
    .app {
      .form {
        .inputElement {
          width: 50vw;
        }
        .coded {
          .codedMessage {
            @include Messages(45vw, 36px);
          }
        }
      }
    }
  }
}

@media (max-width: $third-breakpoint-width) {
  body {
    .app {
      .form {
        .inputElement {
          width: 60vw;
        }
        .coded {
          .codedMessage {
            @include Messages(65vw, 36px);
          }
        }
      }
    }
  }
}

@media (max-width: $fourth-breakpoint-width) {
  body {
    .app {
      .form {
        .inputElement {
          width: 70vw;
        }
        .inputLabel p {
          font-size: 80%;
        }
        .coded {
          .codedMessage {
            @include Messages(75vw, 36px);
          }
        }
      }
    }
  }
}

@media (max-height: $first-breakpoint-height) {
  body {
    .app {
      .form {
        .content {
          margin: 20px;
        }
        .coded {
          margin: 10px;
          .codedLabel {
            margin: 0px;
          }
        }
      }
    }
    .decoded p {
      margin: 8px;
    }
  }
}

@media (max-height: $second-breakpoint-height) {
  body {
    .app {
      .form {
        .inputElement {
          height: 26px;
        }
        .content {
          margin: 10px;
        }
        .coded {
          margin: 10px;
          .codedLabel {
            margin: 0px;
          }
        }
      }
    }
    .decoded p {
      margin: 8px;
    }
  }
}

@media (max-height: $third-breakpoint-height) {
  body {
    .app {
      .form {
        .inputElement {
          height: 22px;
        }
        .content {
          margin: 5px;
          font-size: 120%;
        }
        .coded {
          margin: 10px;
          font-size: 120%;
          .codedLabel {
            margin: 0px;
          }
          .codedMessage {
            @include Messages(30vw, 27px);
          }
        }
      }
    }
    .decoded p {
      margin: 8px;
      font-size: 90%;
    }
  }
}
