body {
  margin: 0;
  padding: 0;
  background: url("cezar.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
}
.app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content {
  font-family: "Special Elite", cursive;
  margin-top: 30px;
  font-size: 250%;
  background-color: violet;
  border-radius: 40px;
}
.title p {
  margin: 20px 40px;
  font-size: 150%;
}
.codebtn,
.decodeBtn {
  border-radius: 40px;
}
.codebtn p,
.decodeBtn p {
  margin: 5px 10px;
  font-size: 150%;
  font-family: "Staatliches", cursive;
}
.input {
  font-size: 150%;
  margin-bottom: 10px;
}
.input p {
  margin: 10px 20px;
}
