body {
  margin: 0;
  padding: 0;
  background: url("cezar.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom center;
  background-repeat: no-repeat;
  font-family: "Special Elite", cursive;
}
body .app {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .app .content {
  background-color: rgba(255, 50, 149, 0.8);
  border-radius: 10px;
  margin-top: 30px;
  font-size: 150%;
  transition: width 2s linear;
}
body .app .title {
  text-align: center;
}
body .app .title p {
  margin: 20px 40px;
  font-size: 150%;
}
body .app .form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
body .app .form .coded {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(255, 50, 149, 0.8);
  border-radius: 10px;
}
body .app .form .coded .codedLabel {
  padding: 10px 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px;
  text-align: center;
}
body .app .form .coded .codedMessage {
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(154, 154, 154);
  padding: 5px;
  min-width: 25vw;
  min-height: 36px;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
}
body .app .form .empty {
  opacity: 0;
}
body .app .form .decoded {
  text-align: center;
  border-radius: 10px;
  border: 2px solid rgb(154, 154, 154);
  padding: 5px;
  min-width: 0;
  min-height: 0;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 1;
}
body .app .form .inputLabel {
  margin-bottom: 10px;
  text-align: center;
}
body .app .form .inputLabel p {
  margin: 10px 20px;
}
body .app .form .inputElement {
  border-radius: 10px;
  height: 32px;
  width: 25vw;
}
body .app .form .decodeBtn {
  border-radius: 10px;
}
body .app .form .decodeBtn p {
  margin: 5px 10px;
  font-size: 150%;
  font-family: "Staatliches", cursive;
}

@media (max-width: 1100px) {
  body .app .form .inputElement {
    width: 40vw;
  }
  body .app .form .coded .codedMessage {
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(154, 154, 154);
    padding: 5px;
    min-width: 35vw;
    min-height: 36px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media (max-width: 780px) {
  body .app .form .inputElement {
    width: 50vw;
  }
  body .app .form .coded .codedMessage {
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(154, 154, 154);
    padding: 5px;
    min-width: 45vw;
    min-height: 36px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media (max-width: 615px) {
  body .app .form .inputElement {
    width: 60vw;
  }
  body .app .form .coded .codedMessage {
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(154, 154, 154);
    padding: 5px;
    min-width: 65vw;
    min-height: 36px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media (max-width: 430px) {
  body .app .form .inputElement {
    width: 70vw;
  }
  body .app .form .inputLabel p {
    font-size: 80%;
  }
  body .app .form .coded .codedMessage {
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(154, 154, 154);
    padding: 5px;
    min-width: 75vw;
    min-height: 36px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
@media (max-height: 560px) {
  body .app .form .content {
    margin: 20px;
  }
  body .app .form .coded {
    margin: 10px;
  }
  body .app .form .coded .codedLabel {
    margin: 0px;
  }
  body .decoded p {
    margin: 8px;
  }
}
@media (max-height: 470px) {
  body .app .form .inputElement {
    height: 26px;
  }
  body .app .form .content {
    margin: 10px;
  }
  body .app .form .coded {
    margin: 10px;
  }
  body .app .form .coded .codedLabel {
    margin: 0px;
  }
  body .decoded p {
    margin: 8px;
  }
}
@media (max-height: 415px) {
  body .app .form .inputElement {
    height: 22px;
  }
  body .app .form .content {
    margin: 5px;
    font-size: 120%;
  }
  body .app .form .coded {
    margin: 10px;
    font-size: 120%;
  }
  body .app .form .coded .codedLabel {
    margin: 0px;
  }
  body .app .form .coded .codedMessage {
    text-align: center;
    border-radius: 10px;
    border: 2px solid rgb(154, 154, 154);
    padding: 5px;
    min-width: 30vw;
    min-height: 27px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: rgba(255, 255, 255, 0.5);
  }
  body .decoded p {
    margin: 8px;
    font-size: 90%;
  }
}/*# sourceMappingURL=index.css.map */